/* [project]/src/lib/ag-grid/dloomberg-terminal-theme.css [app-client] (css) */
.dloomberg-terminal-grid .ag-status-bar {
  background-color: var(--popover);
  padding: 0 6px;
}

.dloomberg-terminal-grid .ag-status-name-value {
  padding: 6px 0;
}

